@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

html {
  font-size: 62.5%;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  font-size: 2.4rem;
  font-family: sans-serif;
  color: #333;
  font-family: "Manrope";
  font-weight: 500;
  height: 100%;
  width: 100%;
}

.app {
  width: 100%;
  height: 100%;
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

.app * {
  box-sizing: border-box;
  width: 100%;
}

h1 {
  text-align: center;
  background-color: #4a90e2;
  font-family: "Manrope";
  font-size: 8rem;
  text-transform: uppercase;
  font-weight: 400;
  word-spacing: 30px;
  letter-spacing: -5px;
  padding: 2.4rem 0;
}

@media (max-width: 430px) {
  h1 {
    font-size: 3.5rem;
    letter-spacing: 0;
    word-spacing: 10px;
  }
}

.add-form {
  background-color: #f4f7fa;
  padding: 2.8rem 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  border-bottom: 2px solid #333;
}

@media (max-width: 430px) {
  .add-form {
    display: flex;
    flex-direction: column;
  }

  .add-form h3 {
    text-align: center;
  }
}

h3 {
  margin-left: 2rem;
  font-size: 2.4rem;
}

h3::after {
  content: "👉";
}

@media (max-width: 430px) {
  h3::after {
    content: "👇";
  }
}

button,
select,
input {
  background-color: #4a90e2;
  color: #333;
  font-family: inherit;
  border: none;
  border-radius: 10rem;
  padding: 1.2rem 3.2rem;
  font-weight: 700;
  font-size: 1.8rem;
  cursor: pointer;
}

.taskInput,
.dateInput {
  box-shadow: inset 0 4px 8px rgba(255, 255, 255, 0.5),
    inset 0 -4px 8px rgba(47, 90, 155, 0.7), 0 2px 6px rgba(0, 0, 0, 0.4);
}

.add-form button {
  text-transform: uppercase;
  background-color: #4a90e2;
  box-shadow: inset 0 4px 8px rgba(255, 255, 255, 0.5),
    inset 0 -4px 8px rgba(47, 90, 155, 0.7), 0 2px 6px rgba(0, 0, 0, 0.4);
}

.list {
  background-color: #f4f7fa;
  color: #333;
  padding: 4rem 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;
}

.actions button,
.list select {
  text-transform: uppercase;
  padding: 0.8rem 2.4rem;
  font-size: 1.4rem;
  font-weight: 700;
  margin: 0 0.8rem;
  box-shadow: inset 0 4px 8px rgba(255, 255, 255, 0.5),
    inset 0 -4px 8px rgba(47, 90, 155, 0.7), 0 2px 6px rgba(0, 0, 0, 0.4);
}

.actions {
  display: flex;
  width: 50%;
}

@media (max-width: 430px) {
  .actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 90%;
  }
}

.list ul {
  list-style: none;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1.2rem;
  justify-content: center;
  align-content: start;
}

.list li {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

input[type="checkbox"] {
  height: 2rem;
  width: 2rem;
  accent-color: #333;
}

.list li button {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.8rem;
  padding: 0.8rem;
  transform: translateY(2px);
}

.stats {
  background-color: #4a90e2;
  text-align: center;
  font-weight: 700;
  padding: 3.2rem 0;
}
